.sideBarOptions {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black !important;
}

.sideBarOptions > .MuiSvgIcon-root {
  padding: 20px;
  border-radius: 30px;
}

.sideBarOptions > h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sideBarOptions:hover {
  background-color: bisque;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebBarOptions--active {
  color: blue !important;
}
